{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'finder/style.css' %}">

</head>
<body>
    <div class='header'>
        <div class="header-item">

        </div>
        <div class="header-item">
            <h1>BOOKDEALER</h1>
        </div>
    </div>

    <div class="finderr">
        <p class="pod1">Izde</p>
        <form method="GET" action="">
            {{form}}
            <input type="submit" value="Izdep kor" class="button">
        </form>
    </div>
    <div class="container">

    </div>
    <div class="footer">
        <h3>made By Aka&Aka</h3>
    </div>
</body>
</html>